html, body {
  margin: 0;
  padding: 0;
  padding-left: 0.4vh;
  padding-right: 0.4vh;
  height: 100%;
}
body {
  background-color: dimgray;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto;
  
}

.stavova_cast{
  border-radius: 1vh;
  margin-top: 1vh;
  margin-right: 10vh;
  background-color: blueviolet;
  height: 8vh;
  color: aliceblue;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.klikaci_cast{
  border-radius: 1vh;
  background-color: aqua;
  height: 37vh;
  margin-top: 1vh;
}
.nakupni_cast{
  border-radius: 1vh;
  margin-top: 1vh;
  background-color: yellowgreen;
  height: 50vh;
  
}
.zpatky {
  position: absolute;
  right: 1vh;
  top: 2vh;
  
  background-color: steelblue;
  color: white;
  padding: 1vh 3vh;
  font-size: 3vh;
  border-radius: 15px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}
.informace_kliknuti{
  font-size: 3.5vh;
}
.infrormace_sec{
  font-size: 3vh;
}
