body {
  background-color: dimgray;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto;
  overflow: hidden;
}
.klikaci_cast{
  background-color: aqua;
  height: 37vh;
  margin-top: 1vh;
}
.stavova_cast{
  margin-top: 1vh;
  margin-right: 10vh;
  background-color: blueviolet;
  height: 8vh;
  font-size: 4vh;
}
.nakupni_cast{
  margin-top: 1vh;
  background-color: yellowgreen;
  height: 50vh;
  
}
.zpatky{
  position: absolute;
  right: 4vh;
  top: 2vh;
}
a {
  text-decoration: none;
}

